/.metadata/
auth-common/.classpath
auth-common/.project
.sonarlint/
auth-common/.settings/
auth-common/target/
auth-gateway/.gitignore
auth-gateway/.mvn/
auth-server/.classpath
auth-server/.project
auth-server/.settings/
auth-server/target/
commerce-cache/.classpath
commerce-cache/.project
commerce-cache/.settings/
commerce-cache/target/
auth-admin-portal/.mvn/
*.classpath
*.project
auth-gateway/.settings/
auth-gateway/target/
